<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <!--spring注解注入-->
    <context:component-scan base-package="com.wechat.controller"></context:component-scan>
    <context:component-scan base-package="com.wechat.websocket"></context:component-scan>

    <mvc:annotation-driven/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- 配置json转换器 -->
    <bean id="jsonMessageConverters" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
                <value>text/html;charset=utf-8</value>
            </list>
        </property>
    </bean>
    <context:property-placeholder location="classpath:properties/*.properties"   ignore-unresolvable="true"/>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <!-- JSON视图拦截器，碰到ResponseBody会触发 -->
                <ref bean="jsonMessageConverters"/>
            </list>
        </property>
    </bean>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 拦截所有mvc控制器 -->
            <mvc:mapping path="/**"/>
            <!-- mvc:exclude-mapping是另外一种拦截，它可以在你后来的测试中对某个页面进行不拦截，这样就不用在
            				LoginInterceptor的preHandler方法里面获取不拦截的请求uri地址了(优选) -->
            <mvc:exclude-mapping path="/user/login" />
            <mvc:exclude-mapping path="/websocket"/>
            <mvc:exclude-mapping path="/backend/*"/>
            <bean class="com.wechat.controller.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--websocket处理类-->
    <bean id="socketHandler" class="com.wechat.websocket.WebSocketPushHandler"></bean>
    <!--配置拦截器-->
    <websocket:handlers allowed-origins="*">
        <websocket:mapping path="/websocket" handler="socketHandler"/><!-- 连接的URL -->
        <websocket:handshake-interceptors>
            <bean class="com.wechat.websocket.WebSocketInterceptor"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>

    <!--上传文件-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 默认编码 -->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 上传文件大小限制为31M，31*1024*1024 -->
        <property name="maxUploadSize" value="32505856"/>
        <!-- 内存中的最大值 -->
        <property name="maxInMemorySize" value="4096"/>
    </bean>
</beans>