<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.dao.PetMapper">
    <resultMap id="petDetail" type="petDetailVO">
        <id property="petId" column="pet_id"/>
        <result property="petType" column="pet_type"/>
        <result property="petPrice" column="pet_price"/>
        <result property="petTitle" column="pet_title"/>
        <result property="petDesc" column="pet_desc"/>
        <result property="createtime" column="createtime"/>
        <result property="petCity" column="pet_city"/>
        <result property="wx" column="wx"/>
        <result property="phone" column="phone"/>
        <result property="petName" column="pet_name"/>
        <result property="petAge" column="pet_age"/>
        <result property="petGender" column="pet_gender"/>
        <result property="petBreed" column="pet_breed"/>
        <result property="isVaccine" column="is_vaccine"/>
        <association property="user" javaType="user">
            <id property="userId" column="user_id"/>
            <result property="avatarUrl" column="avatarUrl"/>
            <result property="gender" column="gender"/>
            <result property="address" column="address"/>
        </association>
        <collection property="petImages" ofType="petImage">
            <id property="petImageId" column="pet_image_id"/>
            <result property="petImageUrl" column="pet_image_url"/>
        </collection>
    </resultMap>
    <select id="getPetDetail" parameterType="Integer" resultMap="petDetail">
        select
        p.pet_id,
        p.pet_type,
        p.pet_price,
        p.pet_title,
        p.pet_desc,
        p.createtime,
        p.pet_city,
        p.wx,
        p.phone,
        p.pet_name,
        p.pet_age,
        p.pet_gender,
        p.pet_breed,
        p.is_vaccine,
        u.user_id,
        u.avatarUrl,
        u.gender,
        u.address,
        pi.pet_image_id,
        pi.pet_image_url
        from pet p
        left join user u on p.user_id = u.user_id
        left join pet_image pi on p.pet_id = pi.pet_id
        where p.pet_id = #{petId}
    </select>
    <select id="listAllPet" parameterType="pet" resultType="petVO">
        select
        p.pet_id petId,
        p.pet_type petType,
        p.pet_price petPrice,
        p.user_id userId,
        p.pet_title petTitle,
        p.pet_city petCity,
        p.pet_name petName,
        p.pet_age petAge,
        p.pet_gender petGender,
        p.pet_breed petBreed,
        p.is_vaccine isVaccine,
        pi.pet_image_url mainImage
        from pet p
        left join pet_image pi on p.pet_id = pi.pet_id
        <where>
            pi.pet_image_type = '1'
            <if test="pet_type != null">
                and p.pet_type = #{petType}
            </if>
            <if test="petTitle !=null">
                and p.pet_title like '%${petTitle}%'
            </if>
            <if test="petCity != null">
                and p.pet_city = #{petCity}
            </if>
        </where>
        order by pet_id desc
    </select>

    <insert id="savePet" parameterType="pet">
        INSERT INTO `pet` (
        `pet_type`,
        `pet_price`,
        `user_id`,
        `pet_title`,
        `pet_desc`,
        `createtime`,
        `updatetime`,
        `pet_city`,
        `wx`,
        `phone`,
        `pet_name`,
        `pet_age`,
        `pet_gender`,
        `pet_breed`,
        `is_vaccine`

        )
        VALUES
        (
        #{petType},
        #{petPrice},
        #{userId},
        #{petTitle},
        #{petDesc},
        now(),
        now(),
        #{petCity},
        #{wx},
        #{phone},
        #{petName},
        #{petAge},
        #{petGender},
        #{petBreed},
        #{isVaccine}
        )
    </insert>
    <insert id="uploadImage" parameterType="petImage">
        INSERT INTO pet_image (
        pet_image_type,
        pet_image_url,
        pet_id,
        createtime,
        updatetime
        )
        VALUES
        (
        #{petImageType},
        #{petImageUrl},
        #{petId},
        now(),
        now()
        )
    </insert>
    <update id="updatePet" parameterType="pet">
        UPDATE
        `pet`
        SET
        <if test="petId != null">
            `pet_id` =  #{petId},
        </if>
        <if test="petType != null">
            `pet_type` = #{petType},
        </if>
        <if test="petPrice != null">
            `pet_price` = #{petPrice},
        </if>
        <if test="userId != null">
            `user_id` = #{userId},
        </if>
        <if test="petTile != null">
            `pet_title` = #{petTile},
        </if>
        <if test="petDesc != null">
            `pet_desc` = #{petDesc},
        </if>
        <if test="petCity != null">
            `pet_city` = #{petCity},
        </if>
        <if test="wx != null">
            `wx` = #{wx},
        </if>
        <if test="phone != null">
            `phone` = #{phone},
        </if>
        <if test="petName != null">
            `pet_name` = #{petName},
        </if>
        <if test="petAge != null">
            `pet_age` = #{petAge},
        </if>
        <if test="petGender != null">
            `pet_gender` = #{petGender},
        </if>
        <if test="petBreed != null">
            `pet_breed` = #{petBreed},
        </if>
        <if test="isVaccine != null">
            `is_vaccine` = #{isVaccine},
        </if>
        `updatetime` = now()
        WHERE `pet_id` = #{petId}
    </update>
    <delete id="deletePet" parameterType="Integer">
        DELETE
        FROM
          pet
        WHERE pet_id = #{petId}

    </delete>
    <delete id="deletePetImage" parameterType="Integer">
        DELETE
        FROM
          pet_image
        WHERE pet_id = #{petId}
    </delete>

</mapper>